body {
    background-color: #282c34;
    color: #abb2bf;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#status {
    padding: 8px 10px 5px 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #11151b;
    border-radius: 4px;
    z-index: 10;
}

#status.ok {
    color: #98c379;
}

#status.ko {
    color: #d26670;
}

#alerts {
    padding: 10px;
    font-size: 28px;
}

#alerts .alert {
    margin: 0;
    margin-bottom: 20px;
    position: relative;
}

#alerts .alert .dates {
    color: #abb2bf;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 0;
    left: 0;
    width: 165px;
}

#alerts .alert .title {
    padding-top: 5px;
    margin-left: 165px;
    cursor: pointer;
}

#alerts .alert .dates span {
    display: block;
}

#alerts .alert._good {
    color: #98c379;
}

#alerts .alert .details {
    margin-top: 8px;
    margin-left: 165px;
    font-size: 16px;
    display: none;
    color: #abb2bf;
}

#alerts .alert .details pre {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

#alerts .alert .good-details {
    color: #9aa990;
}

#alerts .alert .bad-details {
    color: #a79698;
}


#alerts .alert .extra {
    display: inline-block;
    font-size: 13px;
    color: #abb2bf;
    vertical-align: middle;
    margin-left: 5px;
}

#alerts .alert .extra span {
    display: block;
}

#count {
    font-size: 400px;
    z-index: -10;
    opacity: 0.1;
    position: fixed;
    bottom: -75px;
    right: 0px;
}

/*
   pink: #c678dd
   blue: #5facec
   lightgrey: #5c6370
*/

#alerts .alert.general {

    color: #ff3b3b;
}

/* custom classes */

#alerts .alert.warning {
    color: #d19a66;
}

#alerts .alert.critical {
    color: #d26670;
}
